:root{
    --grey: #565656;
    --blue: #0496FF;
}
*{box-sizing: border-box;}
body{color: var(--grey); font-size: 16px; font-family: 'Work Sans', sans-serif;}
a{text-decoration: none; color: var(--blue);}
b{font-weight: bold;}
img{max-width: 100%;}
h1,h2,h3,h4,h5,h6, .h1,.h2,.h3,.h4,.h5,.h6{font-weight: 600; margin-bottom: 1rem;}
h1, .h1{font-size: 30px; }
h2, .h2{font-size: 26px;}
h3, .h3{font-size: 24px;}
h4, .h4{font-size: 20px;}
h5, .h5{font-size: 18px;}
h6, .h6{font-size: 16px;}